h1.post-title {
  font-weight: 800;
}

.post-header {
  time {
    font-size: 16px;
    color: black;
  }
}

.post-content {
  h1, h2, h3 {
    font-weight: 200;
  }

  h1 {
    font-size: 38px;
  }

  blockquote {
    font-size: 18px;
    p {
      color: black;
      font-weight: 200;
      letter-spacing: -0.2px;
    }

    code {
      font-style: normal;
      font-weight: 300;
    }
  }

  code {
    background-color: #f9f9fa;
    font-family: "JetBrains Mono";
  }

  /* syntax highlighting */
  .highlight {
    background-color: #f9f9fa;
    * {
      background-color: inherit;
      font-family: "JetBrains Mono"
    }
    pre { line-height: 125%; }
  }
}