---
---

@import "minima";
@import "about";
@import "home";
@import "post";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
}

a.site-title, a.site-title:hover {
  font-weight: 800;
  color: #dd1144;
}

a, a:hover {
  color: #1756a9;
}

h2.post-list-heading {
  font-weight: 800;
}

/* The date and category line for each post on the homepage */
span.post-meta {
  color: black;
}

a.post-link {
  font-size: 20px;
}

.footer-col {
  .p-name, p {
    color: black;
  }
}