---
layout: page
---
<article class="about">

    <img id="portrait" src="../assets/images/portrait.jpg" alt="A nice picture of me, Liam Coogan.">

    <div class="about-content">
        {{ content }}
    </div>

    <a href="https://github.com/ljcoogan" target="_blank"><img src="../assets/images/icons8-github.svg" alt="An icon for Git Hub"></a>
    <a href="https://linkedin.com/in/ljcoogan" target="_blank"><img src="../assets/images/icons8-linkedin.svg" alt="An icon for Linked In"></a>
    <a href="https://www.pinterest.com/ljcoog/" target="_blank"><img src="../assets/images/icons8-pinterest.svg" alt="An icon for Pinterest"></a>

</article>